@font-face {
    font-family: SFCompactRounded;
    font-weight: 400;
    src: url('./fonts/SF-Compact-Rounded-Regular.otf') format('opentype');
}

@font-face {
    font-family: SFCompactRounded;
    font-weight: 300;
    src: url('./fonts/SF-Compact-Rounded-Light.otf') format('opentype');
}

@font-face {
    font-family: SFCompactRounded;
    font-weight: 500;
    src: url('./fonts/SF-Compact-Rounded-Medium.otf') format('opentype');
}

@font-face {
    font-family: SFCompactRounded;
    font-weight: 600;
    src: url('./fonts/SF-Compact-Rounded-Semibold.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500&family=Noto+Serif&family=Vibur&display=swap&family=Alfa+Slab+One&display=swap');
